meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Tecnologías de la información y la comunicación (TIC).
meta(meta name="description" content="La sociedad ha avanzado a pasos agigantados en la moda, en la tecnología, en la ciencia y muchas otras áreas del conocimiento. La informática se encarga del estudio del hardware, las redes de datos y el software necesario, para tratar la información de manera automática y el cual se convierte en factor primordial a la hora de gestionar la información y datos en formato digital para la administración de métodos, técnicas y procesos de la confección y moda.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")