h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Software', 'main.html#page/software/')
                    +navTemaItem('2', 'Internet', 'main.html#page/internet/')
                    +navTemaItem('3', 'Ofimática', 'main.html#page/ofimatica/')
                    +navTemaItem('4', 'Evaluación', 'main.html#page/evaluacion/')
                    +navTemaItem('5', 'Mejora continua', 'main.html#page/mejora/')
                    