.container
    .header-ecored
        h1 2. Internet
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_2/img_1.png").img-fluid
        
        p.mt-5 Antes de definir internet es importante mencionar ¿Cómo surgió internet?, es decir contar su historia, la cual “comienza a finales de los años 60 en Estados Unidos y se relaciona con un proyecto desarrollado por la Agencia de Proyectos de Investigación  Avanzados ((ARPA) y el Departamento de Defensa estadounidense, que definieron el protocolo TC/IP con la finalidad de conectar ordenadores para facilitar trabajos sobre investigación” (Valentín López, 2015). 

        p Ahora se puede responder la pregunta, ¿Qué es la internet?, son “ordenadores conectados entre sí a través de redes o sistemas de comunicación que interconectan distintos tipos de dispositivos, con la finalidad de compartir información y ofrecer distintos servicios tales como correo electrónico, transferencia de ficheros vía FTP o acceso a la World Wide Web” (Valentín López, 2015).

        section.my-5

                a(href="https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/51049?page=16" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                    .media-link-title
                        p Para consultar más información acerca del tema acceder al libro Ofimática, página 61-71.

                        p Valentín López, G.M. (2015). Ofimática (S. L. Editorial CEP (ed.)). Editorial CEP, S. L.