.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td AMR Education, (2015). Ejemplo práctico de toma de tiempos y eficiencia en producción.	
                    
                    td Vídeo 	

                    td 
                        a(href="https://www.youtube.com/watch?v=6VDzbpRIF9M&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ibiza David, (2019). Tutorial Trellos: Guía de uso con ejemplos reales prácticos.	
                    td Video
 
                    td 
                        a(href="https://www.youtube.com/watch?v=_UB44coH3SM&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Gallardo Yoney, (2020). Word para principiantes – 2020.	
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=-4ooZlyprmc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ibiza David, (2020). Curso básico de Excel – Completo 2020.	
                    td Video		 
                    td 
                        a(href="https://www.youtube.com/watch?v=pVbeetji9vg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Gallardo Yoney, (2018). Curso de Power Point 2019 – Completo.	
                    td Video 	
                    td 
                        a(href="https://www.youtube.com/watch?v=ra0hKJv8zbw", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Grupo Bancolombia. (2018, 30 octubre). 10 herramientas de trabajo colaborativo para tu empresa.	
                    td Página web	  
                    td 
                        a(href="https://www.grupobancolombia.com/wps/portal/negocios/actualizate/tendencias/herramientas-trabajo-colaborativo", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar        

                tr
                    td Escuela al revés UNLINE, (2019). Análisis de datos para la toma de decisiones con Excel. 	
                    td Video	
                    td 
                        a(href="https://www.youtube.com/watch?v=Ds-cTahAN2A", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   