include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("AMR Education, (2015). Ejemplo práctico de toma de tiempos y eficiencia en producción. YouTube.", "https://www.youtube.com/watch?v=6VDzbpRIF9M&feature=youtu.be")

        +referenciaItem("Andrade, A. M., Del Río, C. A., & Alvear, D. L. (2019). A study on time and motion to increase the efficiency of a shoe manufacturing company | Estudio de Tiempos y Movimientos para Incrementar la Eficiencia en una Empresa de Producción de Calzado. Información Tecnológica, 30(3), 83–94.", "https://doi.org/10.4067/S0718-07642019000300083")

        +referenciaItem("Carmona Romera, G. (2017). Sistema operativo, búsqueda de información: Internet/Intranet y correo electrónico (I. Editorial (ed.); 1st ed.).",  "")

        +referenciaItem("CertCampus, (2016). ITIL Ciclo de vida. YouTube.", "https://www.youtube.com/watch?v=qLSk1Ctl51I")

        +referenciaItem("Eíto-Brun, R. (2014). Gestión de contenidos (Universitat Oberta de Catalunya (ed.); Vol. 17). Editorial UOC.")

        +referenciaItem("Escuela al revés UNLINE, (2019). Análisis de datos para la toma de decisiones con Excel. YouTube.", "https://www.youtube.com/watch?v=Ds-cTahAN2A")

        +referenciaItem("Española, R. A., & Madrid, E. (1970). Diccionario de la lengua española (Vol. 19). Espasa-Calpe.", " ")

        +referenciaItem("Fresno, Chávez, Caridad. ¿Cómo funciona Internet?, El Cid Editor, 2018. ProQuest E-book Central.", " https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/36728?page=34")

        +referenciaItem("Gallardo Yoney, (2018). Curso de Power Point 2019 – Completo. YouTube.", "https://www.youtube.com/watch?v=ra0hKJv8zbw")

        +referenciaItem("Gallardo Yoney, (2020). Word para principiantes – 2020. YouTube", "https://www.youtube.com/watch?v=-4ooZlyprmc")

        +referenciaItem("Gaskin, S. (2014). GO! Microsoft Word 2013 (1st ed.). Pearson Educación.", "")

        +referenciaItem("Gómez de Silva Garza, A., & Ania Briseño, I. de J. I. B.-978-970-686-768-1 I. B.-978-607-481-064-6 (Eds.). (2008). Software (pp. 23–44). Cengage Learning.", "https://link.gale.com/apps/doc/CX3004400004/GVRL?u=sena&sid=GVRL&xid=d8990326")

        +referenciaItem("Grupo Bancolombia. (2018, 30 octubre). 10 herramientas de trabajo colaborativo para tu empresa.", " https://www.grupobancolombia.com/wps/portal/negocios/actualizate/tendencias/herramientas-trabajo-colaborativo")

        +referenciaItem("Ibarra Sixto, J. I. (2013). Manual sistema operativo, búsqueda de la información: Internet/intranet y correo electrónico (S. L. Editorial CEP (ed.)). Editorial CEP, S. L", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/50724?page=19")

        +referenciaItem("Ibiza David, (2019). Tutorial Trellos: Guía de uso con ejemplos reales prácticos. YouTube.", "https://www.youtube.com/watch?v=_UB44coH3SM&feature=youtu.be")

        +referenciaItem("Ibiza David, (2020). Curso básico de Excel – Completo 2020. YouTube.", "https://www.youtube.com/watch?v=pVbeetji9vg")

        +referenciaItem("Ladrón, de Guevara, Miguel Ángel. Sistema operativo, búsqueda de la información: internet/intranet y correo electrónico UF0319 (2a. ed.), Editorial Tutor Formación, 2018. ProQuest E-libro.", "Https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/44263")
        
        +referenciaItem("Mamani, O., Arohuanca, M., Mamani, W., Quiñonez, C., Muñoz, M., & Pocohualca, N. (n.d.). Auditoria informática. In Informatica (pp. 1–6).")

        +referenciaItem("Naranjo González, M. R. (2010). Cuaderno del alumno: ofimática básica para formación continua. Formación para el empleo. Editorial CEP, S.L", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/50987?page=1")

        +referenciaItem("Servicetonic. (2019). ITIL, Mejora continua del servicio.", "https://www.servicetonic.com/es/itil/8-itil-mejora-continua-del-servicio")

        +referenciaItem("Valentín López, G.M. (2015). Ofimática (S. L. Editorial CEP (ed.)). Editorial CEP, S. L.", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/51049?page=16")

        +referenciaItem("Vergara, P. (2005). Optimización de Procesos Industriales y Control de Calidad. Pedro Vergara Vera. I.S.B.N: 956-7359-45-8. Ediciones Universidad Tecnológica.")

        
               
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            