//Colores base del material de formación
$brand-color-dark:#4B8699;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light:#40798C;
$text-color-light: $primary;
$brand-color-secondary: #00232B;

