.header-arrow-1 {
  position: relative;
  background-color:#20287A;
  padding: 2rem;

  h1,h2,h3 {
      margin: 0;
      color: white;      
  }

  &--xs {
    padding: 0;
    height: 8px;
  }

}



  
  
  